body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
}

.logo {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.logo:hover {
    color: #404bbf;
}

.logo:focus {
    color: #404bbf;
}

.studio {
    color: #2e2f42;
}

.info {
    font-style: normal;
}

.contsct-us {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.contsct-us:hover {
    color: #404bbf;
}

.contsct-us:focus {
    color: #404bbf;
}

.main-paige {
    background: #2E2F42;
}

.main-tittle {
    color: #FFF;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
}

.main-paige-btn {
    font-family: "Roboto", sans-serif;
    background: #4D5AE5;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    cursor: pointer;
}

.main-paige-btn.main-paige-btn:hover {
    background-color: #404BBF;
}

.main-paige-btn:focus {
    background-color: #404BBF;
}

.benefits-tittles {
    color: #2E2F42;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}

.benefits-tittles-descr {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.team-section {
    background-color: #F4F4FD;
}

.team-tittle {
    color: #2E2F42;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.team {
    background-color: #FFFFFF;
}


.team-names {
    color: #2E2F42;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}

.team-descr {
    color: #434455;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.portfolio-tittles {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.app {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.foot {
    background-color: #2e2f42;
}

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.studio-footer {
    color: #f4f4fd;
}


.foot-text {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}