h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #FFF;
    font-size: 16px;
    line-height: 1.5;
}

.page-header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo {
    margin-right: 76px;
}

.page-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: flex;
    gap: 40px;
}

.info-menu {
    display: flex;
    gap: 40px;
}

.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms linear;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.menu-link:focus {
    color: #404BBF;
}

.current-page {
    color: #404bbf;
}

.current-page::after {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404BBF;
    color: #404BBF;
    bottom: -1px;
}

.studio {
    color: #2e2f42;
}

.info {
    font-style: normal;
}

.contact-us {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-us:hover,
.contact-us:focus {
    color: #404bbf;
}

.main-paige {
    background: #2E2F42;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url("../images/fon/PeopleOffice.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1440px;
    background-position: center;
    margin-right: auto;
    margin-left: auto;
}

.main-tittle {
    color: #FFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
}

.main-paige-btn {
    font-family: "Roboto", sans-serif;
    background: #4D5AE5;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-paige-btn:hover,
.main-paige-btn:focus {
    background-color: #404BBF;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-tittle {
    color: #2E2F42;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    margin-right: auto;
    margin-left: auto;
}

.benefits {
    background-color: #FFF;
}

.benefit-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
}

.benefits-list {
    display: flex;
    gap: 24px;
}

.ben-list-item {
    width: calc((100% - 72px) / 4);
}

.benefits-tittles {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.benefits-tittles-descr {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.team-section {
    background-color: #F4F4FD;
}

.team-tittle {
    width: 168px;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-list-item {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team {
    padding-top: 32px;
    padding-bottom: 32px;
}

.team-names {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.team-descr {
    color: #434455;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
}

.social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

.social-list-item {
    width: 40px;
    height: 40px;
}

.social-list-links {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-links:hover,
.social-list-links:focus {
    background-color: #404bbf;
}

.social-icons-item {
    fill: #f4f4fd;
}

.portfolio {
    background-color: #FFF;
}

.portfolio-tittle {
    width: 219px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.port-list-item {
    width: calc((100% - 48px) / 3);
    position: relative;
    overflow: hidden;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portf-descr {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-tittles {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.overlay-wrap {
    position: relative;
    overflow: hidden;
}

.overlay-par {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #4D5AE5;
    color: #F4F4FD;
    width: 100%;
    height: 100%;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transform: translateY(100%);
    padding: 40px 32px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.port-list-item:hover .overlay-par {
    transform: translateY(0%);
    transition: transform 250ms linear;
}

.port-list-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.app {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.foot {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
    height: 312px;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.cont-foot {
    margin-right: 120px;
}

.logo-foot {
    display: inline-block;
    margin-bottom: 16px;
}

.studio-footer {
    color: #f4f4fd;
}

.foot-text {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    width: 264px;
}

.foot-text-soc {
    font-weight: 500;
    color: #FFFFFF;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16p;
    margin-bottom: 16px;
}

.social-list-footer {
    display: flex;
    gap: 16px;
}

.item-social-footer {
    width: 40px;
    height: 40px;
}

.social-links-footer {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-footer:hover,
.social-links-footer:focus {
    background-color: #31d0aa;
}